h1 {
    color: orange;
}

.parent-container
{
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title-box
{
    text-align: center;
    background-color: lightslategray;
    margin: 10px;
    width: 1500px;
}

.container
{
    width: 1500px;
    margin: 10px;
    align-items: center;
    text-align: center;
    justify-content: space-between;

}

.job-container
{ 
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.new-job-container
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.job
{
    font-weight: 500;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.bold
{
    font-weight: 700;
}

